
/*
GENERALI inizio
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 10px;
}
li{
    line-height: 30px;
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}


.row{
    display:flex ;
    flex: wrap;
    
}

/*
GENERALI fine
*/

/*
header inizio
*/

.navi {
    background-color: #3061e0;
    min-height: 60px;
    padding: 20px 0;

}

.row-header{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.col-logo{
    flex-basis: calc(100% / 12 * 3);
    
}
.col-link{
    flex-basis: calc(100% / 12 * 6);
    
   
}
.col-log{
    flex-basis: calc(100% / 12 * 3);
    
    
}
/*
header fine 
*/


/*prima sezione inizio*/

.row{    
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.first-section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    
    
}

.col-1 {
    flex-basis: calc(100% / 12 * 10);    
    padding: 20px;
    min-height: 300px;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size:60px;
    padding: 20px;
}

.col-1 p{
    font-weight: 500;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

#first-a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px 30px;
    border-radius: 25px;
    
}

#second-a{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px 30px;
    border-radius: 25px;
}
/*prima sezione fine*/




/*seconda sezione inizio*/

.col-2{    
    
    flex-basis: calc(100% / 12 * 8);    
    
}

.col-3{    
    padding: 20px;
    flex-basis: calc(100% /12 * 4);
        
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

.col-3 p{
    line-height: 20px;
}


/*fine seconda sezione */

/*inizio terza sezione */

.thirth-section{
    background-color: #d3d3d3;
}



.col-4{    
    padding: 20px;
    flex-basis: calc(100% / 12 * 4);
    
    
    
}
 p{
    line-height: 20px;
    
}

.col-4 h2{
    padding-top: 50px;
}

.col-5{   
    
    flex-basis: calc(100% / 12 * 8);
    
    
}



/*fine terza sezione */

/*inzio quinta  sezione */

.col-6{    
    
    flex-basis: calc( 100% /12 * 12);    
    text-align: center;
    padding: 20px;
    line-height: 100px;
}

.avventure{
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;    
}

.bg-avventure{
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-position: center;
}

#thirth-a{
    text-decoration: none;
    color: white;
    background-color: #8ea1e1;
    padding: 15px 45px;
    border-radius: 25px;
}



/*fine quarta sezione */

/*inizio quinta sezione */

.five-section{
    background-color: #22272a;
        
}

.col-7{
    flex-basis: calc(100%  / 12 * 4 );        
    
    color: white;
}

.col-7 h2{
    color: #7188d8;
    font-size: 40px;
    margin-bottom: 20px;
}

.ita-img{
    font-size: 5px;

}


#opzioni{
    background-color: #22272a;
    color: white;
    font-size: 20px;
    vertical-align: 15px;
}

.col-8{
    flex-basis: calc(100% / 12 * 2);
    color: white;
}

.col-8 ul{
    color: #7188d8;
    
}


/*fine quinta sezione */

/*footer-inizio*/
.footer-content{
    background-color: #22272a;
    padding: 5px;
    min-height: 30px;
    
}

.row-footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: #80fed4
}

.bottoni{    
    background-color: #ef8080;
    border-style: dotted;
}
/*
footer fine
*/


